@font-face {
  font-family: "iconfont"; /* Project id 2665314 */
  src: url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e600";
}

.icon-nav:before {
  content: "\e66b";
}

.icon-show:before {
  content: "\e695";
}

.icon-max:before {
  content: "\e61e";
}

.icon-play:before {
  content: "\e710";
}

.icon-next:before {
  content: "\e7ff";
}

.icon-pre:before {
  content: "\e800";
}

.icon-music:before {
  content: "\e667";
}

.icon-pause:before {
  content: "\e635";
}

.icon-pic:before {
  content: "\e607";
}

.icon-down:before {
  content: "\e624";
}

